*{
    font-family: Roboto;
}
.first {
  width: 100%;
  min-height: 964px;
  background: #FFFFFF;
  
}
.first_header {
  width: 100%;
  height: 80px;
  border-top: 2px solid #444444;
  border-bottom: 2px solid #444444;
}
.first_header_container {
  width: 90%;
  margin: 0 auto;
  height: 80px;
  display: flex;
  align-items: center;
}
.first_header_container_logo {
font-style: normal;
font-weight: normal;
font-size: 69px;
line-height: 108px;
color: #000000;
  width: 30%;
}
.first_header_container_navbar {
  width: 38%;
  display: flex;
  justify-content: space-between;
  border-right: 2px solid #000000;
}
.first_header_container_navbar_item {
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 34px;
text-align: center;
color: #000000;
  width: 30%;
  height: 80px;
  border-left: 2px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first_header_container_customer {
  width: 32%;
  display: flex;
  justify-content: flex-end;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 34px;
text-align: center;
color: #000000;
}
.first_main {
  width: 90%;
  height: auto;
  margin: 0 auto;
  
}
.first_main img {
  position: relative;
  padding-top: 86px;
  float: right;
  z-index: 0;
}
.first_main_container {
  padding-top: 380px;
  position: absolute;
  z-index: 10;
}
.first_main_container_h {
font-style: normal;
font-weight: normal;
font-size: 84px;
line-height: 130px;
color: #000000;
}
.first_main_container p {
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 28px;
text-align: left;
color: #000000; 
}
.shop {
  width: 100%;
  min-height: 620px;
  display: flex;
  background: #E5E5E5;
}
.shop_left {
  width: 50%;
  background: url("images/shop-women.png");
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.shop_right {
  width: 50%;
  background: url("images/shop-men.png");
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.shop button {
 width: 50%;
  height: 110px;
  background: #FFBCBC;
  border-radius: 0px;
  border: none;
}

.new-in {
  width: 100%;
  min-height: 907px;
  background: #E5E5E5;
}
.new-in_header {
  width: 100%;
  padding-top: 166px;
  height: 100px;
  border-bottom: 2px solid #000000;
}
.new-in_header_container {
  width: 90%;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.new-in_header_container_name {

font-style: normal;
font-weight: normal;
font-size: 70px;
line-height: 108px;
color: #000000;
}
.new-in_header_container_link {
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 28px;
text-align: center;
color: #000000;
  display: flex;
  align-items: flex-end;
}
.new-in_wrap {
  width: 95%;
  margin: 0 auto;
  padding-top: 75px;
  display: flex;
  justify-content: space-between;
}
.new-in_wrap_item {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 30%;

}
.new-in_wrap_item img {
  max-width: 100%;
  height: auto;
  object-fit: fill;
}
.new-in_wrap_item .item_name {
  padding-top: 20px;
  padding-bottom: 13px;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 27px;
text-align: center;
color: #000000;
}
.new-in_wrap_item .item_colour {
  padding-bottom: 12px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 25px;
text-align: center;
color: #000000;
}
.new-in_wrap_item .item_price {

font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #000000;
}
.mitchel {
  display: flex;
  background: #AABAD0;
  
  width: 100%;
  min-height: 605px;
  

}
.mitchel_wrapper {
  display: flex;
  
}
 
.mitchel_wrapper .img  {
 max-width: 100%;
}
.mitchel_wrapper img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.mitchel_wrap {
  padding-top: 265px;
  display: flex;
  flex-direction: column;
  width: 45%;
  height: auto;
 padding-left: 10%;
 
}
.mitchel_wrap_h3 {
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 31px;
color: #000000;
}
.mitchel_wrap_h1 {
font-style: normal;
font-weight: normal;
font-size: 70px;
line-height: 108px;
color: #000000;
}
.mitchel_wrap_p {
  padding-bottom: 69px;
}
.mitchel_wrap button {
height: 120px;
  width: 120%;
  border: none;
background: #FFBCBC;
border-radius: 0px;
}
.bestsellers {
  width: 100%;
  height: auto;
  background: #E5E5E5;
  
}
.bestsellers_header {
  width: 100%;
  padding-top: 195px;
  height: 85px;
  border-bottom: 2px solid #000000;
}
.bestsellers_header_container {
  width: 90%;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.bestsellers_header_container_name {

font-style: normal;
font-weight: normal;
font-size: 70px;
line-height: 108px;
color: #000000;
}
.bestsellers_header_container_link {
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 28px;
text-align: center;
color: #000000;
  display: flex;
  align-items: flex-end;
}
.bestsellers_wrap {
  width: 95%;
  margin: 0 auto;
  padding-top: 75px;
  display: flex;
  justify-content: space-between;
}
.bestsellers_wrap_item {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 30%;

}
.bestsellers_wrap_item img {
  max-width: 100%;
  height: auto;
  object-fit: fill;
}
.bestsellers_wrap_item .item_name {
  padding-top: 20px;
  padding-bottom: 13px;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 27px;
text-align: center;
color: #000000;
}
.bestsellers_wrap_item .item_colour {
  padding-bottom: 12px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 25px;
text-align: center;
color: #000000;
}
.bestsellers_wrap_item .item_price {

font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #000000;
}
.for-sight {
  width: 100%;
  min-height: 620px;
  display: flex;
  padding-top: 190px;
  background: #E5E5E5;
}
.for-sight_left {
  width: 50%;
  background: url("images/for-sight_left.png");
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.for-sight button {
 width: 50%;
  height: 110px;
  background: #FFBCBC;
  border-radius: 0px;
  border: none;
}
#onon {
  opacity: 0;
}
#onon:hover {
  opacity: 1;
  transition: 0.6s;
}
#on {
   opacity: 0;
}
#on:hover {
  opacity: 1;
  transition: 0.6s;
}
.for-sight_right {
  width: 50%;
  background: url("images/for-sight_right.png");
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
a {
  text-decoration: none;
  color: black;
}

.our-brand {
    width: 100%;
    background-color: #E5E5E5;
    min-height: 670px;
    padding-top: 172px;
  }
  .our-brand_header {
    width: 100%;
    
    height: 100px;
    border-bottom: 2px solid #000000;
    
  }
  .our-brand_header_container {
    width: 90%;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
  }
  .our-brand_header_container_name {
  
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 108px;
  color: #000000;
  }
  .our-brand_header_container_link {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #000000;
    display: flex;
    align-items: flex-end;
  }
  .our-brand_main {
  padding-top: 75px;  
  }
  .our_brand_main_wrapper {
  width: 100%;
  min-height: 400px;
  background-image: url(images/our_brands.png) ;
  background-size: contain;
   
  }

.who {
  width: 100%;
  min-height: 835px;
  background: #E5E5E5;
}
.who_container {
  width: 90%;
  margin: 0 auto;
  min-height: 490px;
  padding-bottom: 150px;
  padding-top: 155px;
  display: flex;
  
}

.who_container_left {
  width: 50%;
  display: flex;
  flex-direction: column;
 
}
.who_container_left h1 {
font-style: normal;
font-weight: bold;
font-size: 70px;
line-height: 108px;
color: #000000;
  padding-top: 0px;
}
.who_container_left p {
 max-width: 470px;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
color: #000000;
}
.who_container_right {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  
}
.who_container_right img {
  padding-top: 40px;
  width: 100%;
  height: auto;
  object-fit: fill;
}
.footer {
    width: 100%;
    min-height: 490px;
    background: #AABAD0;
  }
  .footer_top {
    border-bottom: 2px solid #000000;
    width: 100%;
    height: 104px;
  }
  .footer_top_container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
  }
  .footer_top_container_logo {
  font-style: normal;
  font-weight: normal;
  font-size: 69px;
  line-height: 108px;
  color: #000000;
  }
  .footer_top_container_motto {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
    display: flex;
   align-items: center;
  }
  .footer_bottom {
    width: 80%;
    margin: 0 auto;
    padding-top: 36px;
    display: flex;
  }
  .footer_bottom_left {
    padding-right: 10%;
    width: 69%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  }
  .footer_bottom_left_up {
    display: flex;
    justify-content: space-between;
  }
  .footer_bottom_left_up_column {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  }
  .footer_bottom_left_up_column_ex span {
    font-size: 28px;
    font-weight: bold;
    line-height: 31px;
  }
  .footer_bottom_left_middle {
    padding-top: 35px;
    padding-bottom: 28px;
  }
  .footer_bottom_left_middle_item {
    display: flex;
    align-items: center;
  }
  .footer_bottom_left_middle_item img {
    padding-right: 9px;
  }
  .footer_bottom_left_down_block1, .footer_bottom_left_down_block2 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  color: #000000;
  }
  .footer_bottom_left_down_block1 span {
    text-decoration: underline;
  }
  .footer_bottom_right {
    border-left: 2px solid #000000;
  }
  .footer_bottom_right_container {
    padding-left: 11%;
    padding-bottom: 38px;
    
  }
  .footer_bottom_right_container_up {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
    padding-bottom: 49px;
    border-bottom: 2px solid #000000;
    width: 70%;
  }
  .footer_bottom_right_container_down {
    padding-top: 42p;
    display: flex;
    justify-content: space-between;
  }
  .footer_bottom_right_container_down_contacts {
    padding-top: 42px;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  color: #000000;
    
  }
  .footer_bottom_right_container_down_contacts_item {
  font-size: 18px;
   padding-bottom: 5px; 
  }
  .footer_bottom_right_container_down_contacts_item_number {
    font-size: 17px;
    padding-bottom: 5px; 
  }
  .footer_bottom_right_container_down_social {
   display: flex;
    justify-content: space-around;
    
  }
  @media screen and (max-width: 1250px) {
    .shop_left, .shop_right, .for-sight_left, .for-sight_right {
      background-size: contain;
    }
  }
  @media screen and (max-width: 1030px) {
    .mitchel_wrap button {
      width: 60%;
    }
    .who_container_left h1 {
      font-size: 30px;
      line-height: 30px;
    }
    .who_container_left p {
      font-size: 15px;
      line-height: 15px;
      width: 80%;
    }
    .footer_bottom_left_up_column, .footer_bottom_left_up_column span {
      font-size: 15px;
    }
    
  }
  @media screen and (max-width: 995px) {
    .mitchel_wrapper img {
      width:50%;
    }
    .footer_bottom {
      justify-content: 
        display: flex;
        flex-direction: column;
    }
    .footer_bottom_left {
      width: 100%;
    }
    .footer_bottom_right_container_up {
      padding-top: 10px;
    }
  }
  @media screen and (max-width: 680px) {
    .first_header_container_logo {
      font-size: 40px;
    }
    .first_header_container_navbar_item, .first_header_container_customer {
      font-size: 15px;
    }
  }
  @media screen and (max-width: 650px) {
    .new-in_header {
      padding-top: 60px;
    }
    .new-in_header_container_name {
      font-size: 20px;
     
    }
    .new-in_header_container_link {
      font-size: 15px;
    }
    .new-in_wrap {
      display: flex;
      flex-direction: column;
    }
    .new-in_wrap_item {
      width: 100%;
    }
    .bestsellers_header {
      padding-top: 60px;
    }
    .bestsellers_header_container_name {
      font-size: 20px;
     
    }
    .bestsellers_header_container_link {
      font-size: 15px;
    }
    .bestsellers_wrap {
      display: flex;
      flex-direction: column;
    }
    .bestsellers_wrap_item {
      width: 100%;
    }
    .our-brand {
      padding-top: 32px;
    }
    .our-brand_header_container_name {
      font-size: 20px;
      line-height: 20px;
    }
    .our-brand_header_container_link {
      font-size: 15px;
    }
  }
  @media screen and (max-width: 605px) {
    
    .mitchel_wrap_h1 {
      font-size: 30px;
      line-height: 30px;
    }
    .mitchel_wrap_p {
      padding-top: 20px;
    }
    
  }
  @media screen and (max-width: 560px) {
    .first_main_container_h {
      font-size: 40px;
      line-height: 40px;
    }
    .first_main img {
      width: 60%;
    }
    .first_main_container p {
      font-size: 15px;
    }
  }
  @media screen and (max-width: 520px) {
    .first_header_container_navbar {
      display: flex;
      flex-direction: column;
      height: 100px;
   
      
    }
    .first_header_container_navbar_item {
      display: flex;
      text-align: flex-start;
      justify-content: center;
      padding-left: 25%;
    }
    .mitchel {
      display: flex;
      flex-direction: column;
    }
    .mitchel_wrapper {
      display: flex;
      flex-direction: column;
    }
    .mitchel_wrapper img {
      width: 90%;
      height: auto;
      margin: 0 auto;
    }
    .mitchel_wrap {
      padding-top: 20px;
      padding-left: 5%;
      
    }
    .mitchel_wrap button {
      height: 60px;
      font-size: 10px;
      width: 120px;
    }
    .who_container {
      display: flex;
      flex-direction: column;
    }
    .who_container_left {
      width: 90%;
      
    }
    .who_container_right {
      width: 90%;
    }
    .footer_bottom_left_up_column, .footer_bottom_left_up_column span {
      font-size: 10px;
    }
    .footer_bottom_right_container_down_social {
    display: flex;
    flex-direction: column;
      padding: 25px;
    }
  }
